body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}
.column-1 {
	height: 100vh;
	width: 23.2vw; 
	background-color: black;
	display: block;
}

.column-2 {
	height: 100vh;
	width: 50vw; 
	background-color: darkred

}
.column-3 {
	height: 100vh;
	width: 25vw; 
	background-color: black
	}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: inherit;
}

.box {
	height: 25vh;
	width: 20vw;
	margin: 30px;
}

.box2{
	height: 4.5vh;
	width: 20vw;
	margin: 30px;

}

.box3{
	height: 12vh;
	width: 17vw;
	margin: 70px;
}

.box4{
	height: 67vh;
	width: 45vw;
	margin: 30px;
}

.box5{
	height: 7vh;
	width: 40vw;
	margin: 30px;
}

.red {
	background-color: #8e0202;
}

.black {
	background-color: #000000;
}

h1 {
	color:black;
    text-align: center;
	font-size: 72
}
h2  {
	color:white;
    text-align: center;
	font-size: 50
}

	
img{
	padding: 4%
}
@media only screen and (max-width: 1100px) {
	.box red{
		order:5;
		margin: 5px;
	}
	.box2{
		order:4;
		margin: 5px;

	}
	.box3{
		order:3;
		margin: 5px;
	}
	.box4{
		order:1;
		margin: 5px;
	}
	.box5{
		order:2;
		margin: 5px;
	}